.tip-info {
    font-size: 30%;
    position: absolute;
    border: 0;
    z-index: 99;
    padding: 4px;
    background-color: #000;
    opacity: 0.9;
    color: #fff;
    border-radius: 2px;
}

.timecount {
    top: 6px;
    right: 6px;
}

.slide-idx {
    bottom: 6px;
    left: 6px;
    W
}

#_slide_ {
    font-size: 30%;
    position: absolute;
    bottom: 25px;
    right: 10px;
    border: 0;
    z-index: 99;
    padding: 2px;
    background-color: #000;
    opacity: 0.9;
    color: #fff;
}


/* line number */

pre {
    position: relative;
    margin-bottom: 24px;
    border-radius: 5px;
    /* border: 1px solid #abb2bf; */
    background: #282c34;
    overflow: hidden;
    padding: 30px 10px 20px 10px;
}

code {
    display: block;
    padding: 12px 24px;
    overflow-y: auto;
    font-weight: 300;
    font-family: Menlo, monospace;
    font-size: 0.8em;
}

code.has-numbering {
    margin-left: 40px;
}

.pre-numbering {
    position: absolute;
    top: 30px;
    left: 0;
    width: 20px;
    margin: 15px 2px 12px 20px;
    border-right: 1px solid #abb2bf;
    border-radius: 3px 0 0 3px;
    background-color: #282c34;
    text-align: right;
    font-family: Menlo, monospace;
    font-size: 0.8em;
    color: #abb2bf;
    -webkit-user-select: none;
    user-select: none;
}

.pre-numbering li {
    padding-right: 15px;
    list-style: none;
    line-height: 1.5em;
}

.hljs {
    padding-bottom: 5px;
    padding-top: 15px;
}

.lang-html::before {
    content: "html";
}

.lang-js::before {
    content: "js";
}

.lang-css::before {
    content: "css";
}

.lang-json::before {
    content: "json";
}

.lang-php::before {
    content: "php";
}

.lang-c::before {
    content: "C 语言";
}

.lang-dos::before {
    content: "dos";
}

.lang-sql::before {
    content: "SQL";
}

.hljs::before,
blockquote::before {
    position: absolute;
    right: 5px;
    top: 0px;
    font-size: 16px;
    color: rgb(250, 105, 129);
    padding: 0;
    font-weight: bold;
}

.code-container::before {
    position: absolute;
    left: 18px;
    top: 10px;
    padding: 0;
    background: url(/img/window-controls.svg) left center no-repeat;
    content: ' ';
    width: 80px;
}

.progress span {
    background: rgb(250, 105, 129);
}

body {
    background: black;
    font-family: "等线", "dengxian", "SF Pro SC", "SF Pro Text", "SF Pro Icons", "PingFang SC", "Helvetica Neue", "Helvetica", "Arial", "YaHei Consolas Hybrid", "STHeiti", "Microsoft Yahei", sans-serif;
}

p {
    text-align: left;
    padding-top: 10px;
    padding-bottom: 10px;
}

i {
    padding-right: 10px;
}

strong {
    font-weight: bolder;
}

::selection {
    background-color: #42b983;
}

slides>slide .slide-wrapper blockquote {
    border-left-color: #f66;
    position: relative;
    padding: 12px 24px 12px 30px;
    margin: 25px 0;
    border-left-width: 4px;
    border-left-style: solid;
    background-color: #f2f2f2;
    position: relative;
    border-bottom-right-radius: 2px;
    border-top-right-radius: 2px;
    color: #2c3e50;
}

slides>slide .slide-wrapper blockquote::before {
    position: absolute;
    top: 14px;
    left: -12px;
    color: #fff;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    text-align: center;
    line-height: 20px;
    font-weight: bold;
    font-family: "Dosis", "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
    font-size: 14px;
    content: "!";
    background-color: #f66;
}

slides>slide .slide-wrapper blockquote p {
    font-size: 22px;
    line-height: 1.5em;
}

slides>slide .slide-wrapper blockquote small {
    color: #232323;
    position: relative;
    padding-left: 24px;
}

slides>slide .slide-wrapper blockquote small::before {
    position: absolute;
    top: 3px;
    content: "\2015 \00A0";
}

slides>slide .slide-wrapper img {
    margin: 0 auto;
    display: flex;
    z-index: 1;
}

.fill h1,
.fill h2,
.fill h3,
.fill li,
.fill p {
    color: #fff;
}

.theme-info {
    margin-top: 60px;
    font-Size: 14pt;
}

@font-face {
    font-family: 'Italiana';
    font-style: normal;
    font-weight: 400;
    src: local('Italiana'), local('Italiana-Regular'), url(../fonts/italiana.ttf) format('truetype');
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

.left {
    text-align: left;
}

.italiana {
    font-family: Italiana;
    color: #333;
}

.slide-iframe {
    padding: 0px;
}

.slide-iframe .slide-wrapper {
    width: 100%;
    max-width: 100%;
}

.slide-iframe iframe {
    height: 100%;
    width: 100%;
}