::selection {
    color: #fff;
    background-color: #e96900;
    text-shadow: none;
}

a {
    color: #42b983;
    background-color: transparent;
    border-bottom: 0;
    padding-bottom: 5px;
    font-weight: 600;
}

a:hover {
    color: #4ecf95;
    background-color: transparent;
}

h1,
h2,
h3 {
    color: #2c3e50;
    text-shadow: none;
    /* 1px 2px 0px #fff, 3px 5px 0px rgba(0, 0, 0, 0.2); */
    letter-spacing: 4px;
    font-weight: bolder;
}

h1 {
    text-shadow: none;
    /* 1px 2px 0px #fff, 3px 5px 0px rgba(0, 0, 0, 0.2); */
}

table {
    width: 100%;
    color: #232323;
    border-bottom: 0 none;
    border-collapse: collapse;
    background-color: white;
    -moz-box-shadow: 0 none;
    -webkit-box-shadow: 0 none;
    box-shadow: 0 none;
}

table thead th {
    font-weight: bolder;
    background-color: transparent;
    border-bottom: 1px solid #111;
    vertical-align: bottom;
}

table tbody tr td {
    vertical-align: top;
    border-bottom: 1px #bfbfbf solid;
}

table tr {
    background-color: transparent;
}

table tr:nth-child(even) {
    background-color: transparent;
}

table tbody tr:nth-child(odd) {
    background-color: #eee;
}

table td.highlight {
    color: #0377c0;
    text-shadow: 1px 1px 1px #aaa;
    font-weight: normal;
    background-color: transparent !important;
}

table.rows {
    border-right: 1px solid #797979;
}

slides>slide {
    -webkit-font-smoothing: subpixel-antialiased;
    color: #232323;
    letter-spacing: 2px;
    background-color: #fff;
}

slides>slide:nth-child(6n + 1),
slides>slide:nth-child(6n + 2),
slides>slide:nth-child(6n + 3),
slides>slide:nth-child(6n + 4),
slides>slide:nth-child(6n + 5) {
    background-color: #fff;
}

slides>slide .slide-wrapper strong {
    text-shadow: none;
    font-weight: bolder;
    color: #42b983;
}

slides>slide .slide-wrapper em {
    color: #42b983;
    text-shadow: none;
}

slides>slide .slide-wrapper blockquote {
    /* position: relative;
    background-color: #ACE2D2;
    border-left: 0 none;
    color: #232323;
    padding: 5px 5px 5px 28px;
    text-shadow: none; */
    border-left-color: #f66;
    position: relative;
    padding: 12px 24px 12px 30px;
    margin: 2em 0;
    border-left-width: 4px;
    border-left-style: solid;
    background-color: #f2f2f2;
    position: relative;
    border-bottom-right-radius: 2px;
    border-top-right-radius: 2px;
}

slides>slide .slide-wrapper blockquote.pull-right {
    border-right: 0 none;
    padding: 5px 28px 5px 5px;
}

slides>slide .slide-wrapper blockquote.pull-right::before {
    font: normal normal normal 14px/1 FontAwesome;
    content: "\f10e";
    right: 6px;
    position: absolute;
    top: 6px;
}

slides>slide .slide-wrapper blockquote.pull-right small::after {
    position: absolute;
    content: "";
}


/* slides>slide .slide-wrapper blockquote::before {
    font: normal normal normal 14px/1 FontAwesome;
    content: "\f10d";
    left: 6px;
    position: absolute;
    top: 6px;
} */

slides>slide .slide-wrapper blockquote::before {
    position: absolute;
    top: 14px;
    left: -12px;
    color: #fff;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    text-align: center;
    line-height: 20px;
    font-weight: bold;
    font-family: "Dosis", "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
    font-size: 14px;
    content: "!";
    background-color: #f66;
}

slides>slide .slide-wrapper blockquote p {
    font-size: 22px;
    line-height: 1.7em;
}

slides>slide .slide-wrapper blockquote small {
    color: #232323;
    position: relative;
    padding-left: 24px;
}

slides>slide .slide-wrapper blockquote small::before {
    position: absolute;
    top: 3px;
    content: "\2015 \00A0";
}

.progress span {
    background: #2187e7;
}